# Step1 : Combine all the datasets

In [87]:
import os
import pandas as pd
import glob
# find the directory of the folder pwd in terminal
file_path = "/Users/belladu/Desktop/SynSpot Project/"
# list all the files in the path
file_list = os.listdir(file_path)
file_list
# get all csvs
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['CSCO.csv',
 'UAL.csv',
 'TROW.csv',
 'ISRG.csv',
 'PRGO.csv',
 'LUK.csv',
 'TPR.csv',
 'DVN.csv',
 'MRO.csv',
 'BA.csv',
 'VRTX.csv',
 'BRK.B.csv',
 'GILD.csv',
 'NLSN.csv',
 'EQIX.csv',
 'TIF.csv',
 'MDT.csv',
 'V.csv',
 'QRVO.csv',
 'A.csv',
 'FOX.csv',
 'MO.csv',
 'SWKS.csv',
 'MCHP.csv',
 'CDNS.csv',
 'WLTW.csv',
 'CHTR.csv',
 'EIX.csv',
 'BBY.csv',
 'WBA.csv',
 'HCA.csv',
 'AJG.csv',
 'DTE.csv',
 'C.csv',
 'T.csv',
 'CF.csv',
 'DISH.csv',
 'MGM.csv',
 'XL.csv',
 'HUM.csv',
 'CBOE.csv',
 'CFG.csv',
 'WU.csv',
 'APH.csv',
 'SYY.csv',
 'MSI.csv',
 'FCX.csv',
 'ADM.csv',
 'LH.csv',
 'STI.csv',
 'GGP.csv',
 'UTX.csv',
 'PKI.csv',
 'LNT.csv',
 'BAC.csv',
 'LNC.csv',
 'PSX.csv',
 'GPN.csv',
 'SRCL.csv',
 'PPG.csv',
 'RHT.csv',
 'IRM.csv',
 'IQV.csv',
 'WYN.csv',
 'ESS.csv',
 'NOV.csv',
 'NAVI.csv',
 'HAL.csv',
 'STZ.csv',
 'FLS.csv',
 'DXC.csv',
 'ADI.csv',
 'F.csv',
 'HOG.csv',
 'ADBE.csv',
 'TDG.csv',
 'ULTA.csv',
 'ARE.csv',
 'SYK.csv',
 'CB.csv',
 'TSN.csv',
 'FLR.csv',
 'PEP.csv',
 'PEG.csv',
 'LLY.csv',
 'COST.csv',
 'REG.csv',
 'NWS.csv',
 'LLL.csv',
 'LOW.csv',
 'MDLZ.csv',
 'BKNG.csv',
 'FMC.csv',
 'HCP.csv',
 'XEL.csv',
 'AIZ.csv',
 'CERN.csv',
 'MET.csv',
 'FTV.csv',
 'DLR.csv',
 'XRAY.csv',
 'SCG.csv',
 'FAST.csv',
 'TJX.csv',
 'SNA.csv',
 'MPC.csv',
 'D.csv',
 'CA.csv',
 'MRK.csv',
 'STX.csv',
 'NOC.csv',
 'BXP.csv',
 'KHC.csv',
 'IPG.csv',
 'UNP.csv',
 'ALLE.csv',
 'ABBV.csv',
 'ORCL.csv',
 'ECL.csv',
 'ETR.csv',
 'EBAY.csv',
 'SBUX.csv',
 'IR.csv',
 'AMT.csv',
 'INTU.csv',
 'DRE.csv',
 'JEC.csv',
 'CMA.csv',
 'IPGP.csv',
 'PG.csv',
 'CAT.csv',
 'MCD.csv',
 'MNST.csv',
 'AMZN.csv',
 'INTC.csv',
 'PNR.csv',
 'GLW.csv',
 'BDX.csv',
 'KMI.csv',
 'PWR.csv',
 'APTV.csv',
 'EXR.csv',
 'WELL.csv',
 'HOLX.csv',
 'EXPD.csv',
 'KORS.csv',
 'GM.csv',
 'TXN.csv',
 'VRSK.csv',
 'SJM.csv',
 'TMO.csv',
 'OXY.csv',
 'RL.csv',
 'CCI.csv',
 'MMM.csv',
 'MOS.csv',
 'HSY.csv',
 'JNPR.csv',
 'DHI.csv',
 'ED.csv',
 'ES.csv',
 'ADSK.csv',
 'DWDP.csv',
 'IP.csv',
 'EXPE.csv',
 'KO.csv',
 'PCAR.csv',
 'WDC.csv',
 'PYPL.csv',
 'NEE.csv',
 'UPS.csv',
 'FLIR.csv',
 'LEG.csv',
 'EMR.csv',
 'MSFT.csv',
 'ANSS.csv',
 'CTAS.csv',
 'UDR.csv',
 'RTN.csv',
 'WEC.csv',
 'AME.csv',
 'HP.csv',
 'IT.csv',
 'ACN.csv',
 'VRSN.csv',
 'EW.csv',
 'FL.csv',
 'CMG.csv',
 'AWK.csv',
 'COO.csv',
 'SHW.csv',
 'HPQ.csv',
 'AMAT.csv',
 'CCL.csv',
 'MLM.csv',
 'TMK.csv',
 'AVY.csv',
 'AAP.csv',
 'ATVI.csv',
 'EA.csv',
 'DE.csv',
 'SPG.csv',
 'AMD.csv',
 'MYL.csv',
 'KLAC.csv',
 'NDAQ.csv',
 'URI.csv',
 'WHR.csv',
 'PNC.csv',
 'KMX.csv',
 'WRK.csv',
 'BIIB.csv',
 'NVDA.csv',
 'CHRW.csv',
 'ROP.csv',
 'IDXX.csv',
 'EXC.csv',
 'HES.csv',
 'HD.csv',
 'ALB.csv',
 'VLO.csv',
 'AON.csv',
 'ZTS.csv',
 'FDX.csv',
 'DG.csv',
 'HIG.csv',
 'CMS.csv',
 'COL.csv',
 'CAG.csv',
 'INCY.csv',
 'SCHW.csv',
 'HSIC.csv',
 'AZO.csv',
 'AXP.csv',
 'HPE.csv',
 'DFS.csv',
 'SEE.csv',
 'HRL.csv',
 'SO.csv',
 'FRT.csv',
 'ZBH.csv',
 'CME.csv',
 'XOM.csv',
 'AMP.csv',
 'BF.B.csv',
 'AMG.csv',
 'CVX.csv',
 'ETFC.csv',
 'CMCSA.csv',
 'PCG.csv',
 'CSRA.csv',
 'PNW.csv',
 'ICE.csv',
 'NFX.csv',
 'CTXS.csv',
 'TRIP.csv',
 'BEN.csv',
 'DISCK.csv',
 'UHS.csv',
 'EMN.csv',
 'SBAC.csv',
 'ROK.csv',
 'NRG.csv',
 'NSC.csv',
 'NKE.csv',
 'FIS.csv',
 'DPS.csv',
 'VTR.csv',
 'MAS.csv',
 'RF.csv',
 'CELG.csv',
 'MON.csv',
 'TAP.csv',
 'MAR.csv',
 'PX.csv',
 'XYL.csv',
 'CMI.csv',
 'FB.csv',
 'MTD.csv',
 'VAR.csv',
 'KR.csv',
 'PLD.csv',
 'IBM.csv',
 'USB.csv',
 'BSX.csv',
 'LKQ.csv',
 'FBHS.csv',
 'ITW.csv',
 'EOG.csv',
 'PVH.csv',
 'KMB.csv',
 'SPGI.csv',
 'NEM.csv',
 'SYMC.csv',
 'WFC.csv',
 'ANDV.csv',
 'EL.csv',
 'GS.csv',
 'GD.csv',
 'CNP.csv',
 'PM.csv',
 'RE.csv',
 'MCO.csv',
 'CLX.csv',
 'CAH.csv',
 'CBS.csv',
 'HRB.csv',
 'DGX.csv',
 'AVB.csv',
 'DIS.csv',
 'CBRE.csv',
 'GE.csv',
 'HII.csv',
 'ALL.csv',
 'ETN.csv',
 'ALGN.csv',
 'NFLX.csv',
 'LEN.csv',
 'BHF.csv',
 'FITB.csv',
 'GWW.csv',
 'bats_symbols.csv',
 'NTRS.csv',
 'CVS.csv',
 'CTL.csv',
 'AOS.csv',
 'FE.csv',
 'ABC.csv',
 'JPM.csv',
 'ABT.csv',
 'CXO.csv',
 'OMC.csv',
 'COF.csv',
 'TSCO.csv',
 'PH.csv',
 'HST.csv',
 'AYI.csv',
 'JBHT.csv',
 'MAC.csv',
 'COP.csv',
 'DHR.csv',
 'COG.csv',
 'MAT.csv',
 'CNC.csv',
 'MCK.csv',
 'TXT.csv',
 'MTB.csv',
 'DISCA.csv',
 'AKAM.csv',
 'RMD.csv',
 'GOOGL.csv',
 'PAYX.csv',
 'ALK.csv',
 'DRI.csv',
 'ILMN.csv',
 'AAL.csv',
 'XLNX.csv',
 'MAA.csv',
 'HRS.csv',
 'MMC.csv',
 'EVHC.csv',
 'FOXA.csv',
 'GT.csv',
 'FFIV.csv',
 'VNO.csv',
 'CINF.csv',
 'VMC.csv',
 'TWX.csv',
 'SRE.csv',
 'ORLY.csv',
 'IVZ.csv',
 'RCL.csv',
 'ARNC.csv',
 'PXD.csv',
 'COTY.csv',
 'SNPS.csv',
 'GOOG.csv',
 'SIVB.csv',
 'YUM.csv',
 'EQT.csv',
 'KSS.csv',
 'PFE.csv',
 'AIV.csv',
 'AVGO.csv',
 'DUK.csv',
 'REGN.csv',
 'CL.csv',
 'VFC.csv',
 'UA.csv',
 'VZ.csv',
 'NKTR.csv',
 'APC.csv',
 'JCI.csv',
 'ESRX.csv',
 'AMGN.csv',
 'TEL.csv',
 'ADP.csv',
 'AET.csv',
 'LB.csv',
 'STT.csv',
 'RRC.csv',
 'RSG.csv',
 'IFF.csv',
 'ANTM.csv',
 'GPS.csv',
 'BLL.csv',
 'QCOM.csv',
 'LYB.csv',
 'GIS.csv',
 'PHM.csv',
 'ROST.csv',
 'LUV.csv',
 'ALXN.csv',
 'XEC.csv',
 'MS.csv',
 'CPB.csv',
 'OKE.csv',
 'BK.csv',
 'SYF.csv',
 'CHD.csv',
 'SLG.csv',
 'BHGE.csv',
 'MHK.csv',
 'INFO.csv',
 'DAL.csv',
 'APA.csv',
 'K.csv',
 'JWN.csv',
 'AFL.csv',
 'ADS.csv',
 'CSX.csv',
 'NI.csv',
 'PFG.csv',
 'NCLH.csv',
 'ZION.csv',
 'RJF.csv',
 'HBAN.csv',
 'UNH.csv',
 'PRU.csv',
 'GPC.csv',
 'FISV.csv',
 'WMB.csv',
 'EQR.csv',
 'PBCT.csv',
 'KSU.csv',
 'DVA.csv',
 'AIG.csv',
 'MA.csv',
 'HBI.csv',
 'HON.csv',
 'O.csv',
 'NWSA.csv',
 'TTWO.csv',
 'AES.csv',
 'SLB.csv',
 'XRX.csv',
 'TGT.csv',
 'AAPL.csv',
 'MKC.csv',
 'WY.csv',
 'APD.csv',
 'GRMN.csv',
 'AEE.csv',
 'HLT.csv',
 'DLTR.csv',
 'HAS.csv',
 'WMT.csv',
 'NTAP.csv',
 'BBT.csv',
 'KIM.csv',
 'BAX.csv',
 'LMT.csv',
 'KEY.csv',
 'UNM.csv',
 'BMY.csv',
 'PSA.csv',
 'WYNN.csv',
 'RHI.csv',
 'EFX.csv',
 'combine_data.csv',
 'NUE.csv',
 'PKG.csv',
 'NBL.csv',
 'CTSH.csv',
 'SWK.csv',
 'MU.csv',
 'TRV.csv',
 'L.csv',
 'VIAB.csv',
 'AEP.csv',
 'CI.csv',
 'JNJ.csv',
 'WM.csv',
 'DOV.csv',
 'FTI.csv',
 'AGN.csv',
 'M.csv',
 'TSS.csv',
 'CRM.csv',
 'PGR.csv',
 'WAT.csv',
 'BWA.csv',
 'LRCX.csv',
 'NWL.csv',
 'UAA.csv',
 'BLK.csv',
 'PPL.csv']

In [88]:
print(len(csv_files))
# Reference: https://medium.com/@stella96joshua/how-to-combine-multiple-csv-files-using-python-for-your-analysis-a88017c6ff9e

507

In [89]:
for file in csv_files:
    a = file.split('.')[0]

# Step 2: Append the stock name into the columns

In [90]:
import numpy as np
from tqdm import tqdm

# Run the following code to combine all the csv files into one csv file for the first time running this notebook

In [91]:
# df = pd.DataFrame()
# df['Name'] = np.nan
# #append all files together
# ct = 0
# for file in csv_files:
#     temp = pd.read_csv(file)
#     df = df.append(temp, ignore_index=True)
#     df['Name'][ct] = file.split('.')[0]
#     ct += 1
# df

In [92]:
df = pd.read_csv('combine_data.csv')

/var/folders/_1/lp5kp6tj2lsd_ry1fksy95kc0000gn/T/ipykernel_4159/3286499854.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('combine_data.csv')

In [93]:
df.head()

,Unnamed: 0,Name,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Adj Close,Ask Size,Ask Price,Bid Size,Bid Price,Last Price,Shares Matched,Shares Routed
0,0,CSCO,1990-02-16 00:00:00-05:00,0.0,0.056712,0.052397,0.054863,940636800.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,UAL,1990-02-20 00:00:00-05:00,0.0,0.056712,0.053013,0.056712,151862400.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,TROW,1990-02-21 00:00:00-05:00,0.0,0.056095,0.053630,0.055479,70531200.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ISRG,1990-02-22 00:00:00-05:00,0.0,0.057944,0.056095,0.056095,45216000.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,PRGO,1990-02-23 00:00:00-05:00,0.0,0.056712,0.055479,0.055787,44697600.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df['Name'].unique()

array(['CSCO', 'UAL', 'TROW', ..., 'XVOL', 'YDEC', 'YMAR'], dtype=object)

# Uncomment the code first time running it

In [95]:
# df.to_csv('combine_data.csv')

In [96]:
df.columns

Index(['Unnamed: 0', 'Name', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume',
       'Dividends', 'Stock Splits', 'Adj Close', 'Ask Size', 'Ask Price',
       'Bid Size', 'Bid Price', 'Last Price', 'Shares Matched',
       'Shares Routed'],
      dtype='object')

In [97]:
# check all the null values
df.isnull().sum()

Unnamed: 0              0
Name              3883034
Date                  575
Open                  576
High                  576
Low                   576
Close                 576
Volume                  1
Dividends             575
Stock Splits          575
Adj Close         3884115
Ask Size          3883540
Ask Price         3883540
Bid Size          3883540
Bid Price         3883540
Last Price        3883540
Shares Matched    3883540
Shares Routed     3883540
dtype: int64

In [98]:
df.drop(columns=['Unnamed: 0'], inplace=True)

### Drop all the columns that have more than 99% of the data missing

In [99]:
df.drop(columns=['Adj Close', 'Ask Size', 'Ask Price', 'Bid Size','Bid Price', 'Last Price', 'Shares Matched', 'Shares Routed'], inplace=True)

In [100]:
# find the sector of each stock
sector = pd.read_csv("/Users/belladu/Desktop/SynSpot Project/Stock-Classifier-master/SP500_list.csv")
sector.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [101]:
# df['Sector'] = np.nan

In [102]:
df.head()

,Name,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,CSCO,1990-02-16 00:00:00-05:00,0.0,0.056712,0.052397,0.054863,940636800.0,0.0,0.0
1,UAL,1990-02-20 00:00:00-05:00,0.0,0.056712,0.053013,0.056712,151862400.0,0.0,0.0
2,TROW,1990-02-21 00:00:00-05:00,0.0,0.056095,0.053630,0.055479,70531200.0,0.0,0.0
3,ISRG,1990-02-22 00:00:00-05:00,0.0,0.057944,0.056095,0.056095,45216000.0,0.0,0.0
4,PRGO,1990-02-23 00:00:00-05:00,0.0,0.056712,0.055479,0.055787,44697600.0,0.0,0.0

In [103]:
sector.head()
# change the name of the column
sector.rename(columns={'Name':'Company'}, inplace=True)
sector.rename(columns={'Symbol':'Name'}, inplace=True)
sector.head()

   Name              Company                  Sector
0   MMM           3M Company             Industrials
1   AOS      A.O. Smith Corp             Industrials
2   ABT  Abbott Laboratories             Health Care
3  ABBV          AbbVie Inc.             Health Care
4   ACN        Accenture plc  Information Technology

In [104]:
# combine the sector of each stock by adding Sector column to the dataframe using pandas merge
df_sector = pd.merge(df, sector, on='Name', how='left')
df_sector.head()

,Name,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company,Sector
0,CSCO,1990-02-16 00:00:00-05:00,0.0,0.056712,0.052397,0.054863,940636800.0,0.0,0.0,Cisco Systems,Information Technology
1,UAL,1990-02-20 00:00:00-05:00,0.0,0.056712,0.053013,0.056712,151862400.0,0.0,0.0,United Continental Holdings,Industrials
2,TROW,1990-02-21 00:00:00-05:00,0.0,0.056095,0.053630,0.055479,70531200.0,0.0,0.0,T. Rowe Price Group,Financials
3,ISRG,1990-02-22 00:00:00-05:00,0.0,0.057944,0.056095,0.056095,45216000.0,0.0,0.0,Intuitive Surgical Inc.,Health Care
4,PRGO,1990-02-23 00:00:00-05:00,0.0,0.056712,0.055479,0.055787,44697600.0,0.0,0.0,Perrigo,Health Care

In [109]:
# pd.merge(df, sector, how="inner", right_on="Symbol", left_on="Name")
# df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [107]:
# check the type of the column
df_sector.dtypes

Name             object
Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume          float64
Dividends       float64
Stock Splits    float64
Company          object
Sector           object
dtype: object

1. get the sector of each stock
2. clean the useless column

# Time-Series Prediction

In [111]:
# implment a time series model to predict the close price of the stock by sector
import matplotlib.pyplot as plt
import seaborn as sns

# Current Problems
1. How large should the time interval be?
2. How to deal with different sectors?
3. What is our prediction target?
4. What model should we use?